node_modules
npm-debug.log
.npm
logs
*.log
tmp
.DS_Store
.git
.gitignore
README.md
LICENSE
.dockerignore
dockerfile
.nyc_output
.coverage
.vscode
*.md
*.yml
.env*
dist
*.tar
docker-compose.*
build-image.sh