* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
}

body {
  @apply text-white font-normal;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button:not(.n-button) {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Change autfill styles:  */
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  border: none;
  -webkit-text-fill-color: theme('colors.white');
  -webkit-box-shadow: 0 0 0px 1000px #1e212b inset;
}
